* {
  box-sizing: border-box;
}

/**Header**/

.navbar {
  justify-content: center;
}

.navbar-brand {
  font-size: 35px;
}

/**Main container**/

.container {
  height: 530px;
}

/**Main display**/

.main {
  height: 100%;
}

/**Left sidebar (search)**/

.left {
  background-color: lightgray;
  height: 100%;
}

/**Right display area (current weather and five-day forecast**/

.right {
  height: 100%;
}

/**Current weather diplay area**/

.current {
  height: 58%;
  border: solid 1px lightgray;
  margin: 10px;
  border-radius: 5px;
  padding: 10px;
}

.current-content {
  line-height: 35px;
}

.curr-city {
  font-size: 30px;
  font-weight: bold;
}

.uv-index {
  color: white;
  background-color: red;
  padding: 2px;
}

.hide {
  display: none;
}

/**Five-day weather display area**/

.five-day {
  height: 40%;
  margin-left: 10px;
  margin-top: 5px;
}

.five-day-content {
  width: 100%;
}

.forecast-header {
  margin-left: 10px;
  margin-bottom: 0px;
}

.day {
  color: white;
  display: inline-block;
  border-radius: 5px;
  background-color: dodgerblue;
  margin-right: 15px;
}

/**Search sidebar**/

.search {
  background-color: dodgerblue;
  border-radius: 5px;
}

.fa-search {
  color: white;
}

input {
  padding: 2px;
  border-radius: 5px;
  outline: none;
}

input:focus {
  border-color: black;
}

.saved-search {
  width: 100%;
  padding: 5px;
}